<p>
    <%= comment.body %> - <%= comment.user.name %>
    <% if comment.user == current_user %>
        <%= link_to 'edit', edit_article_comment_path(@article,comment) %>
        <%= link_to 'delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</p>
