<h1>About</h1>

<p class="lead">"kalyana" [pali]: beautiful, good, virtuous, admirable, beneficial,
spiritual, noble - KalyanaLife (KL) is a community of “spiritual”
friends who are striving to live truly “noble” lives by practicing the Buddha’s “beautiful” teachings.</p>
