<div class= "row"> Back ground image</div>
<div class= "row">search</div>

<div class= "row">
    <div class='col-md-4'>One</div>
    <div class='col-md-4'>Two</div>
    <div class='col-md-4'>Three</div>
</div>
